<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add A Quote</h1>
    <form action="/" method="POST">
        <label for="body">Body of Quote</label>
        <input type="text" name="body" id="Body" placeholder="Quote Body">
        <label for="authod">Author</label>
        <input type="text" id="author" name="author>
       <label for="category">Select Category</label>
        <select name="category" id="category">
            <option value="motivational">motivational</option>
            <option value="funny">funny</option>
            <option value="islamic">islamic</option>
            <option value="christian">christian</option>
            <option value="pidgin">pidgin</option>
        </select>
        <button>Submit</button>
    </form>
</body>
</html>